/**
 * 
 * 
 *  PARALLAX - SECTION 0
 * 
 *
**/

.lazy
{
    opacity: 0;
    transition: opacity 1s;
    will-change: opacity;
}

.lazy.loaded
{
    opacity: 1;
}

.parallax-scroll
{
    will-change: transform;
}

.container-parallax
{
    position: relative;
    width: 100%;
    height: 100vh;
    background: #183252;
    overflow: hidden;
}

.container-parallax .image 
{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

}

.container-parallax .image .inner
{
    position: absolute;
    top: -12%;
    left: -12%;
    bottom: -12%;
    right: -12%;
    background-position: center center;
    background-size: cover;
    transition: transform 1s cubic-bezier(0.13, 0.34, 0.16, 0.93);
}

.content
{
    height: 200vh;
    background: #183252;
}

/*
* Logo
*/

.logo
{
    position: absolute;
    width: 150px;
    height: 90px;
    top: 30%;
    left: 44.5%;
}

h1 {
    position: absolute;
    top: 70%;
    left: 41%;
    font-family: 'Quicksand', sans-serif;
    font-size: 1em;
    color: #272727;
}

.item-scroll
{
    position: absolute;
    width: 80px;
    height: 80px;
    top: 90%;
    left: 48%;
}

.mouse 
{
    width: 24px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid #FFFFFF;
    position: absolute;
    top: calc(50% - 30px);
    left: calc(50% - 20px);
}
  
.mouse:before, .mouse:after 
{
    content: "";
    display: block;
    position: absolute;
}
  
.dot:before 
{
    width: 5px;
    height: 5px;
    border-radius: 50%;
    top: 10px;
    left: 40%;
    background: #FFFFFF;
    animation: dot-animation 1.2s infinite;
    will-change: transform;
}

  
@keyframes dot-animation 
{
    0%, 65%, 100% 
    {
        opacity: 0;
    }
    10%, 40% 
    {
        opacity: 1;
    }
    0% 
    {
        transform: translateY(1px) scale(0.7);
    }
    5% 
    {
        transform: scale(0.7);
    }
    15%, 100% 
    {
        transform: scale(1);
    }
    45%, 65% 
    {
        transform: translateY(24px) scale(0.7);
    }
}

/*
* Button Start Experience
*/

/* 
#menu
{
    position: absolute;
    width: 200px;
    height: 50px;
    top: 45%;
    left: 43%;
    color: white;
    background: none;
    border: 2px solid white;
    cursor: pointer;
    z-index: 1;
    list-style: none;
	
}



/* #menu li {
	display:inline-block;
	margin: 10px;
	color: #000;
	background:#fff;
	background: rgba(255,255,255, 0.5);
}

#menu li a{
	text-decoration:none;
	color: #000;
}
#menu li.active a:hover{
	color: #000;
}
#menu li:hover{
	background: rgba(255,255,255, 0.8);
}
#menu li a,
#menu li.active a{
	padding: 9px 18px;
	display:block;
}
#menu li.active a{
	color: #fff;
} */

a.bttn-dark {
    color: #ffffff;
    text-decoration: none;
    transition: 0.3s ease all;
  }
  a.bttn-dark:hover {
    color: #644cad;
  }
  a.bttn-dark:focus {
    color: #644cad;
  }
  
  .bttn-dark {
    position: absolute;
    left: 42%;
    top: 45%;
    font-size: 14px;
    letter-spacing: 2px;
    display: inline-block;
    font-family: "futura";
    text-align: center;
    width: 270px;
    padding: 14px 0px;
    border: 3px solid #ffffff;
    border-radius: 2px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
    z-index: 2;
  }
  .bttn-dark:before {
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';
    background-color: #ffffff;
    z-index: -1;
    transition: 0.6s all ease;
  }
  .bttn-dark:hover:before {
    left: 0;
    right: 0;
    opacity: 1;
    transition: 0.6s all ease;
  }
  .bttn-dark:focus:before {
    left: 0;
    right: 0;
    opacity: 1;
    transition: 0.6s all ease;
  }

/**
 * 
 * 
 *  RESPONSIVE
 * 
 *
**/

/**
 *  SECTION 1
**/

@media (min-width: 768px) and (max-width: 1024px) 
{
    #section0 .container-parallax
    {
        width: 100%;
        height: 100%;
    }
}